main {
    margin-top: 64px;
    padding-top: 64px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 192px);
    background-image: url("../GFX/background/seamless-sunflower-smaller.jpg");
}

#form-wrapper {
    width: 80%;
    padding: 20px;
    border-radius: 24px;
    background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.same-line {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.same-line > div {
    width: 50%;
}

.label-input {
    margin: 10px 10px;
}

input {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

textarea {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    width: 100%;
    font-size: larger;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input.error {
    border: 2px solid red;
}

textarea.error {
    border: 2px solid red;
}

#privacy-label-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

#privacy-label-input > label {
    margin-right: 10px;
}

#hint-subtitle {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: var(--grey);
    margin: 10px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

option {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 880px) {
    .same-line {
        flex-wrap: wrap;
    }
    .same-line > div {
        width: 100%;
    }
}
